/**/

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

@font-face {
  font-family: "FiraSans Bold";
  src: local("☺"), url("font/FiraSans-Bold.ttf");
}

body {
  background-image: url(img/cross_stripes.svg), url("img/honeycomb.svg");
}
